<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>CadastrarCliente</display-name>
    <servlet-name>CadastrarCliente</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.CadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCliente</servlet-name>
    <url-pattern>/CadastrarCliente</url-pattern>
  </servlet-mapping>
  <display-name>Cafeteria Mineira</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCliente</display-name>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.IniciarAlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <url-pattern>/IniciarAlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCliente</display-name>
    <servlet-name>AlterarCliente</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.AlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCliente</servlet-name>
    <url-pattern>/AlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCliente</display-name>
    <servlet-name>ExcluirCliente</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.ExcluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCliente</servlet-name>
    <url-pattern>/ExcluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFuncionario</display-name>
    <servlet-name>CadastrarFuncionario</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.CadastrarFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFuncionario</servlet-name>
    <url-pattern>/CadastrarFuncionario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarFuncionario</display-name>
    <servlet-name>IniciarAlterarFuncionario</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.IniciarAlterarFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarFuncionario</servlet-name>
    <url-pattern>/IniciarAlterarFuncionario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarFuncionario</display-name>
    <servlet-name>AlterarFuncionario</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.AlterarFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarFuncionario</servlet-name>
    <url-pattern>/AlterarFuncionario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFuncionario</display-name>
    <servlet-name>ExcluirFuncionario</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.ExcluirFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFuncionario</servlet-name>
    <url-pattern>/ExcluirFuncionario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarVenda</display-name>
    <servlet-name>CadastrarVenda</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.CadastrarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarVenda</servlet-name>
    <url-pattern>/CadastrarVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProduto</display-name>
    <servlet-name>CadastrarProduto</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.CadastrarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProduto</servlet-name>
    <url-pattern>/CadastrarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarProdutos</display-name>
    <servlet-name>IniciarAlterarProdutos</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.IniciarAlterarProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarProdutos</servlet-name>
    <url-pattern>/IniciarAlterarProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarProdutos</display-name>
    <servlet-name>AlterarProdutos</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.AlterarProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProdutos</servlet-name>
    <url-pattern>/AlterarProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirProdutos</display-name>
    <servlet-name>ExcluirProdutos</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.ExcluirProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProdutos</servlet-name>
    <url-pattern>/ExcluirProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarLogin</display-name>
    <servlet-name>CadastrarLogin</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.CadastrarLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarLogin</servlet-name>
    <url-pattern>/CadastrarLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>br.com.cafeteriamineira.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>